Technology
  Information and Communications Technology

Human
  Manifesto
  Vision
  Mission

Leadership
  Creativity
  Integrity
  Thinking
    Global

Computer
  Science
  Engineering
  Programming
  Informatics
  Algorithm
  Heuristic
  System
    Operational transformation (OT)
      https://en.wikipedia.org/wiki/Operational_transformation
  Analysis
  Network
    Internet
  Big Data
  Artificial Intelligence (AI)
    Semantics

Education
  Gamified Education
  Achievement
  Advanced Placement (AP)
    https://en.wikipedia.org/wiki/Advanced_Placement
  Learning Styles

Design
  Human-Computer Interaction (HCI)
    Accessibility
  Human-Agent Interaction (HAI)
  Interface
  Experience
  Interaction

Information/Data/Knowledge
  Skills & Expertise
  Information Architecture
  Knowledge Base
  Knowledge Discovery
  Information Filtering System
  Formalized Methods
  Logic
  Data Mining
  Information Retrieval
  Information Science
  knowledge Organization (KO)
    https://en.wikipedia.org/wiki/Knowledge_organization

Management
  Knowledge Management
    System
  SMART Criteria
    https://en.wikipedia.org/wiki/SMART_criteria
  Project Management
    https://en.wikipedia.org/wiki/Project_management
  Agile
  Lean

Statistics
  Analytics
  Search
  Machine Learning
    Recommender System
    Pattern Recognition
  Performance Indicator
    Key Performance Indicator (KPI) 
    https://en.wikipedia.org/wiki/Performance_indicator

Think & Learn
  Critical Thinking
  Design Thinking
    https://en.wikipedia.org/wiki/Design_thinking
  Learning Patterns

Psychology
  Interest, Talent, Ability
  Personal Development
    https://en.wikipedia.org/wiki/Personal_development
  Performance Management (PM)
    https://en.wikipedia.org/wiki/Performance_management
  Applied Cognitive Psychology
  Personality
  Psychometrics
  Cognitive Biases

Development
  Open Source
    Git
      GitHub
  Software
    Architecture
    Engineering
    Design
    API
  Programming
    JavaScript
      CoffeeScript
      TypeScript
      Node.js
      Meteor
    Python
    Ruby
  Markup
    Markdown
    HTML5
    CSS3
    LaTeX
  Process
    Agile
    Scrum
    Lean Software Development (LSD)
    Extreme Programming (XP)
  Organization Development (OD)
    Sociotechnical Systems (STS)
  Operating System
    UNIX based
    Desktop
    Server
		Linux
			Ubuntu
			Arch
      Debian
  Tools
    Node/NPM
    Grunt/Gulp
    Bower
    Yeoman
    Nodemon
  Framework
    AngularJS
    Express
  Datastore
	  JSON
      JSON-LD
    SQL
      MySQL
      MariaDB
    NoSQL
			MongoDB
			CouchDB
			Redis
  Data System
  File System
  Indexer (API)

Network
  Proxy
	Protocol
		HTTP
		FTP
		SSH
		DDP
		WAMP

Design
  User Experience (UX)
  User Interface (UI)
  Assets
    Guidelines

Business
  Analysis
	Growth and Marketing
		Social Media | SMO
		Search Engine | SEO
		Email | Campaign

Web
  Semantic Web
  Server-side/Back-end
    RESTful API
  Client-side/Front-end
    Device-Agnostic
    Responsive Web Design
    Progressive Enhancement

Media
  Optimization
  Compression
  Conversion
  Image
    SVG
    PNG
    JPG
  Video
    MP4
    WebM
    OGV
  Audio
    MP3
    OGG

*  *  *

Technology

Notes/Blog
Computer Hardware
Computer Software
Podcast
RSS Feed
Social Bookmarking
Social Media
Social Networking
Wikis
World Wide Web

movies

tvshow

music

books

writers

games

gaming platform

tools

other

